<app-navbar></app-navbar>

<div class="wrapper">

  <!-- ........................................................ABOUT MYSELF................................... -->
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />
    <img class="path" src="assets/img/path4.png" />
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">About Myself</h1>
          <h5 class="text-on-back">01</h5>
          <p class="profile-description">
            Experienced Web Developer with a demonstrated history of working in the information technology and
            services industry. Skilled in HTML, CSS, Javascript, Typescript, Angular, React.js, Node.js, Express, and
            MongoDB.
            Strong engineering professional with a degree of Bachelor in Computer Science from
            <a href="https://www.iiu.edu.pk/" target="_blank">International Islamic University, Islamabad.</a>
          </p>
          <div class="btn-wrapper profile pt-3">
            <a class="btn btn-icon btn-youtube btn-round mr-1" href="https://www.youtube.com/@usama21998"
              target="_blank">
              <i class="fab fa-youtube"> </i>
            </a>
            <a class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.linkedin.com/in/usama-attique-8a9770219/" target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
            <a class="btn btn-icon btn-dribbble btn-round" href="mailto:usama.attique02@outlook.com" target="_blank">
              <i class="fab far fa-envelope"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img alt="myImg" class="img-center img-fluid rounded-circle" src="assets/img/usama.png" />

              <h4 class="title">Usama Attique</h4>
              <h5 class="title" style="margin-bottom: -10px;margin-top: -10px;">{{totalExperience}} Experience</h5>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Experiences">
                  <div class="table-responsive" style="height: 230px;overflow-y: auto;">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Duration</th>
                          <th class="header">Designation</th>
                          <th class="header">Company</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{currentEmployment}}</td>
                          <td>Software Engineer</td>
                          <td><a href="https://www.linkedin.com/company/vantaso/" target="_blank" tooltip="Visit link">
                              Vantaso
                            </a></td>
                        </tr>
                        <tr>
                          <td>{{infotechExperince}}</td>
                          <td>Angular Developer</td>
                          <td> <a href="https://infotechgroup.com/" target="_blank" tooltip="Visit link">
                              Infotech
                            </a></td>
                        </tr>
                        <tr>
                          <td>{{infotechInternship}}</td>
                          <td>Software Intern</td>
                          <td><a href="https://infotechgroup.com/" target="_blank" tooltip="Visit link">
                              Infotech
                            </a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Updates">
                  <div class="table-responsive" style="height: 230px;overflow-y: auto;">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Latest Work</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <a href="https://footballairesearch.com/" target="_blank" tooltip="Visit link">FAIR</a>
                            platform under development using React.js and Node.js
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="https://tryoto.vercel.app/home" target="_blank" tooltip="Visit link">Tryoto</a>
                            static landing page...
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="https://dailysalesactivity.alkhodari.travel/#/login" target="_blank"
                              tooltip="Visit link">Alkhodari Travels</a>
                            Admin portal using Angular and Java
                          </td>
                        </tr>
                        <tr>
                          <td>Renewal of <a href="https://www.godubai.com/" target="_blank"
                              tooltip="Visit link">GoDubai.com</a> using Angular</td>
                        </tr>
                        <tr>
                          <td>Angular 17 project from scratch...</td>
                        </tr>
                        <tr>
                          <td>Node.js Crud Operations...</td>
                        </tr>
                        <tr>
                          <td>Worked on kendoo Library...</td>
                        </tr>
                        <tr>
                          <td>Worked on wijmo Library...</td>
                        </tr>
                        <tr>
                          <td>
                            <a href="https://marlinpro.net/#/sign-in;cd=" target="_blank" tooltip="Visit link">Marlin
                              Portal</a>
                            (Real and Virtual Trading Platform) using Angular and Java
                          </td>
                        </tr>
                        <tr>
                          <td>Upgraded Angular-2 project to Angular-12...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ........................................................PROJECTS................................... -->
  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6" style="display:grid;place-items:end;">
          <div>
            <div class="row justify-content-between align-items-center place-item-end">
              <carousel [showIndicators]="true">
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/fairDashboard.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/scoutlist.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/scoutReportOverview.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/scoutReportPerformance.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/leagueSelection.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/advanceSearch.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/eAuction1.png" />
                </slide>
                <slide>
                  <img alt="Second slide" class="d-block imgH" src="assets/img/eAuction2.png" />
                </slide>
                <slide>
                  <img alt="Third slide" class="d-block imgH" src="assets/img/eAuction3.png" />
                </slide>
                <slide>
                  <img alt="Third slide" class="d-block imgH" src="assets/img/eAuction4.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/portal1.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/portal2.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/portal3.png" />
                </slide>
                <slide>
                  <img alt="First slide" class="d-block imgH" src="assets/img/portal4.png" />
                </slide>

              </carousel>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">Projects</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description text-left">
            I have been fortunate to work on a variety of projects leveraging Angular, React, and Node.js to create
            dynamic and user-centric web applications. I am showcasing images of my
            projects, highlighting key features like dynamic dashboards and interactive tools,
            demonstrating how these technologies came together to deliver impactful solutions.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- ........................................................ACHIEVEMENTS................................... -->
  <section class="section -mt-4">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-6">
            <div class="pl-md-5">

              <h1 class="profile-title text-left">Achivements <br />
                So far...</h1>
              <h5 class="text-on-back">03</h5>
              <p>
                As an accomplished Web developer, I have successfully delivered multiple projects to production,
                showcasing my expertise in crafting robust and scalable web applications.
              </p>
              <br />
              <p>
                With a keen understanding of the web technologies, I have consistently demonstrated the ability to
                create dynamic, user-friendly interfaces that meet both client requirements and industry standards. My
                track record of delivering high-quality solutions underscores my proficiency in web development,
                making me a trusted professional in the field.
              </p>
              <br />


            </div>
          </div>
          <div class="col-md-5 mt-lg-5">
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats upper bg-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-coins text-white"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">8</p>
                          <p></p>
                          <p class="card-category">Total Projects</p> <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-gift-2 text-info"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">6</p>
                          <p></p>
                          <p class="card-category">Successfully Delivered to Production</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-trophy text-warning"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">5</p>
                          <p></p>
                          <p class="card-category">Projects from scratch</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-credit-card text-success">
                          </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title"> 2, 11, 12, 13, 16 & 17</p>
                          <p></p>
                          <p class="card-category">Angular Versions</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  </section>

  <!-- .................................................Bars.................. -->
  <section class="section -mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-4">Self-Evaluation</h3>
          <div class="progress-container progress-1">
            <span class="progress-badge"> HTML </span>
            <progressbar class="progress-bar-progress" [value]="95">
              <span class="progress-value"> 95% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-2">
            <span class="progress-badge"> CSS </span>
            <progressbar class="progress-bar-progress" [value]="97">
              <span class="progress-value"> 97% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-3">
            <span class="progress-badge"> Javascript</span>
            <progressbar class="progress-bar-progress" [value]="80">
              <span class="progress-value"> 80% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-success">
            <span class="progress-badge"> Angular </span>
            <progressbar class="progress-bar-progress" [value]="88">
              <span class="progress-value"> 88% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-warning">
            <span class="progress-badge"> React </span>
            <progressbar class="progress-bar-danger" [value]="75">
              <span class="progress-value"> 75% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-info">
            <span class="progress-badge">Node.js </span>
            <progressbar class="progress-bar-danger" [value]="40">
              <span class="progress-value"> 40% </span>
            </progressbar>
          </div>
          <div class="progress-container progress-danger">
            <span class="progress-badge"> Mongo-Db </span>
            <progressbar class="progress-bar-danger" [value]="40">
              <span class="progress-value"> 40% </span>
            </progressbar>
          </div>
          <br />
        </div>
      </div>
      <br />
    </div>
  </section>

  <app-footer></app-footer>
</div>