<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header">
    <!-- <img class="dots" src="assets/img/dots.png" />
    <img class="path" src="assets/img/path4.png" /> -->
    <div class="section">
      <div class="resumeContainer">
        <div class="row justify-content-between">
          <div class="col-lg-12 col-md-12">
            <ngx-extended-pdf-viewer [src]="pdfSrc" backgroundColor="black" [enablePrint]="true"
              [enableDragAndDrop]="false" filenameForDownload="{{fileNameForDownload}}" [showOpenFileButton]="false"
              class="w-full" style="display: block;"></ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>