<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />
    <!-- <img class="path2" src="assets/img/path2.png" />
    <img class="shapes triangle" src="assets/img/triunghiuri.png" />
    <img class="shapes wave" src="assets/img/waves.png" />
    <img class="shapes squares" src="assets/img/patrat.png" />
    <img class="shapes circle" src="assets/img/cercuri.png" /> -->
    <div class="content-center">
      <div class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Think Twice <br />
            <span class="text-white"> Code Once </span>
          </h1>
          <p class="text-white mb-3">
            "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what
            you believe is great work. And the only way to do great work is to love what you do." - Steve Jobs
          </p>

          <div class="btn-wrapper profile pt-3">
            <a class="btn btn-icon btn-youtube btn-round mr-1" href="https://www.youtube.com/@usama21998"
              target="_blank">
              <i class="fab fa-youtube"> </i>
            </a>
            <a class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.linkedin.com/in/usama-attique-8a9770219/" target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
            <a class="btn btn-icon btn-dribbble btn-round" href="mailto:usama.attique02@outlook.com" target="_blank">
              <i class="fab far fa-envelope"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <img alt="img" alt="Circle image" class="img-fluid" src="assets/img/cercuri.png" />
        </div>
      </div>
    </div>
  </div>

  <!-- .................................................Projects.................. -->
  <section style="padding-bottom: 220px !important;" class=" section-coins">

    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <hr class="line-info" />
          <h1>
            Dynamic & Responsive
            <span class="text-info"> Web Applications </span>
          </h1>
        </div>
      </div>
      <div class="row" style="gap: 60px 20px; place-content: center;place-items: center;">

        <!-- fair -->
        <div class="col-md-5">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h5 class="text-on-back">1</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">FAIR</h4>
                  <span> By Vantaso </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body grid justify-content-center">
                <iframe style="width: 100%;height: 300px;"
                  src="https://www.youtube.com/embed/DKJWw7GaCJk?si=DdNeuyYMn1S0ZnCw" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-footer text-center  mb-4">
              <span class="btn-primary btn-simple">In Progress</span>
            </div>
          </div>
        </div>

        <!-- dailySalesACtivity -->
        <div class="col-md-5">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h5 class="text-on-back">2</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Daily Sales Activity</h4>
                  <span> For Alkhodari-Travels </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body grid justify-content-center">
                <iframe style="width: 100%;height: 300px;"
                  src="https://www.youtube.com/embed/QqGO8rDj8jE?si=eMs7vTEFhmUvMMIM" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-footer text-center  mb-4">
              <span class="btn-success btn-simple">Completed</span>
            </div>
          </div>
        </div>

        <!-- marlin portal -->
        <div class="col-md-5">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h5 class="text-on-back">3</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Marlin Portal</h4>
                  <span> By Infotech </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body grid justify-content-center">
                <iframe style="width: 100%;height: 300px;"
                  src="https://www.youtube.com/embed/rrFPQvm-I5Q?si=cbJhi2MYvZO5LRAH" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>

            </div>
            <div class="card-footer text-center  mb-4">
              <span class="btn-success btn-simple">Completed</span>
            </div>
          </div>
        </div>

        <!-- eAuction -->
        <div class="col-md-5">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h5 class="text-on-back">4</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">eAuction</h4>
                  <span> By Infotech </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body grid justify-content-center">
                <iframe style="width: 100%;height: 300px;"
                  src="https://www.youtube.com/embed/gZtzUuaULlo?si=bIM6G0hLNI_iHt1j" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-footer text-center mb-4">
              <span class="btn-success btn-simple ">Completed</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- .................................................Awesome Features.................. -->
  <section style="padding-bottom: 220px !important;" class=" section-safe">
    <img class="path" src="assets/img/path5.png" />
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/programmer.jpg" />

          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">100%</p>
                  <p class="card-category text-white">Fast Loading Times</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-info">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">99%</p>
                  <p class="card-category text-white">Responsive User Interface</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">100%</p>
                  <p class="card-category text-white">Secure Routing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Awesome features</h3>
            <p>
              While Interacting with Angular web applications, there are several features and benefits that enhance user
              experience:
            </p>
            <ul class="list-unstyled mt-5">

              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-vector"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Real-time Updates</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-vector"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Smooth Navigation</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-tap-02"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Interactive Components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-single-02"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Consistent User Experience</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-single-02"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Security Features</h6>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- .................................................Best Benefits.................. -->
  <section style="padding-bottom: 100px !important;">
    <!-- <img class="path" src="assets/img/path4.png" /> -->
    <!-- <img class="path2" src="assets/img/path5.png" /> -->
    <!-- <img class="path3" src="assets/img/path2.png" /> -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Best Approaches</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Lazy Loading</h4>
                <hr class="line-primary" />

                <p>
                  Angular's lazy loading optimizes performance by dynamically loading modules on-demand, enhancing user
                  experience and reducing initial page load times.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">Roles & Privileges</h4>
                <hr class="line-warning" />

                <p>
                  Angular's role-based access control empowers applications with granular user roles and privileges,
                  ensuring secure and tailored user experiences.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-link-72"> </i>
                </div>
                <h4 class="info-title">Interceptors</h4>
                <hr class="line-success" />

                <p>
                  Angular interceptors enhance application functionality by seamlessly managing HTTP requests, enabling
                  centralized logic for authentication, error handling, and data manipulation.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-support-17"> </i>
                </div>
                <h4 class="info-title">Fully Responsive</h4>
                <hr class="line-success" />

                <p>
                  Responsiveness ensures that the website's layout, content, and functionality adjust dynamically based
                  on the device's screen size
                  and orientation, providing an optimal viewing experience for users.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>